<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>Container</WebPublishMethod>
    <PublishProvider>ContainerRegistry</PublishProvider>
    <ContainerPublishMethod>NetSdk</ContainerPublishMethod>
    <ResourceId>/subscriptions/50976d0e-4753-4679-92e9-c23ea44fc4ec/resourceGroups/ZadanieKoncoweADAYS/providers/Microsoft.ContainerRegistry/registries/acrsamyevheniiskakun</ResourceId>
    <ResourceName>acrsamyevheniiskakun</ResourceName>
    <ResourceGroup>ZadanieKoncoweADAYS</ResourceGroup>
    <Subscription>Azure for Students</Subscription>
    <RegistryUrl>acrsamyevheniiskakun.azurecr.io</RegistryUrl>
    <PublishImageTag>latest</PublishImageTag>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <RuntimeIdentifier>linux-x64</RuntimeIdentifier>
    <_TargetId>NetSdkAzureConsoleContainerRegistry</_TargetId>
  </PropertyGroup>
</Project>